<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-16">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>ShowMeTunes</title>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">

</head>

<body>
  <div class="header-img">
    <div class="header-overlay">
    <div class="header-text"><h1>ShowMeTunes</h1></div>
    <div class="header-text-2">Kelly Slatery</div>
    </div>
  </div>
  <p class="introduction"><i>Musical fans come in all shapes and sizes and levels of intensity, but the one thing we all have in common is: we love musicals. But no matter how much of a Broadway buff you are, none of us knows ALL the popular musicals’ soundtracks word-for-word. And sometimes you just can’t match Rent’s “One Song Glory” energy. Sometimes, all we want is for someone (or something) to tell us what musical to listen to in the moment. That’s where ShowMeTunes comes in: you input a short description of your current state (mood, what’s going on in your head and in your life), and ShowMeTunes will show you the show tunes you should give a listen to right when you need it. Now, you’ll never have to go another minute wondering, “ What musicals am I missing out on?” or simply, “What should I play next?” So what are you waiting for? Give it a try below!</i>
</p><br>
	<form action="/submit">
		<p>
			<h2>
        <label for="UserInput">How are you feeling today?<br>What's going on with you?</label>
      </h2>
      <div class="input-description"><i>3-5 sentences</i></div>
      <textarea type="string" name="UserInput" placeholder="Today, I'm feeling... Lately, I've been... What's really going on is..."></textarea>
      <input class="sumissionfield" type="submit" value="Give me my musicals!">
		</p>
	</form>
</body>
</html>
